<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="example-main.js"></script>
  <title>Bit Field SVG Generator</title>
</head>
<body style="background-color:#303030">
  <div id="delayed-body">
  <script>
    document.getElementById("delayed-body").style.display = "none";
  </script>
  <div id="app" >
    <v-app v-bind:dark="darkTheme">
        <v-toolbar>
            <v-toolbar-title>Bit Field SVG Generator</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn target="_blank" href="https://github.com/kenkaijie/bfield-js" flat>Github</v-btn>
            </v-toolbar-items>
        </v-toolbar>
      <v-container fluid fill-height>
          <v-snackbar
          v-model="snackbar"
          top
          :timeout="snackbarTimeout"
          :color="snackbarColor"
        >
          {{ snackbarText }}
          <v-btn
            flat
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </v-snackbar>
        <v-layout align-space-between justify-space-between column>
            <div class="text-xs-center mb-1">
              <p>Just a small tool to generate bitfields. Enter the field information in the table and click generate.</p>
              <v-btn class="mb-2" @click="generateSVG">Generate SVG <v-icon right>autorenew</v-icon></v-btn>
              <v-btn class="mb-2" @click="downloadSVG">Download SVG <v-icon right>cloud_download</v-icon></v-btn>
            </div>
            <v-flex xs12 sm12>
              <v-expansion-panel expand v-model="opened">
                  <v-expansion-panel-content>
                      <template v-slot:header><h3 class="subheading">Bit Fields</h3></template>
                      <v-divider></v-divider>
                      <div class="text-xs-center my-4">
                          <p>Bitfields start from index 0 and count upwards.</p>
                          <v-dialog v-model="dialogImport" width="500" persistent>
                              <template v-slot:activator="{ on }">
                                <v-btn lass="mb-2" v-on="on"> Import </v-btn>
                              </template>
                              <v-card>
                                  <v-card-title>
                                    <span class="headline">Import/Export</span>
                                  </v-card-title>
                        
                                  <v-card-text>
                                    Paste your JSON values for import here:
                                    <v-textarea :error-messages="importErrors" v-model="bitfieldsJSON"></v-textarea>
                                  </v-card-text>
                        
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red lighten-2" flat @click="dialogImport=false">Cancel</v-btn>
                                    <v-btn color="blue darken-1" flat @click="importJSON">Import</v-btn>
                                  </v-card-actions>
                                </v-card>
                            </v-dialog>
                        <v-btn class="mb-2" @click="exportJSON">Export</v-btn>
                        <v-btn class="mb-2" @click="newItem">New Field</v-btn>
                        <v-dialog v-model="dialogClear" width="500">
                          <template v-slot:activator="{ on }">
                            <v-btn color="red lighten-2" v-on="on"> Clear All </v-btn>
                          </template>
                          <v-card>
                              <v-card-title>
                                <span class="headline">Confirm</span>
                              </v-card-title>
                    
                              <v-card-text>
                                Are you sure? This will also clear the current SVG.
                              </v-card-text>
                    
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="dialogClear=false">Cancel</v-btn>
                                <v-btn color="red lighten-2" flat @click="clearBitfield">Yes</v-btn>
                              </v-card-actions>
                            </v-card>
                        </v-dialog>
                      </div>
                      <v-data-table
                      :headers="headers"
                      :items="bitfields"
                      disable-initial-sort
                      hide-actions
                      class="mb-4"
                    >
                      <template v-slot:items="props">
                        <td>
                          <v-edit-dialog :return-value="props.item.name">
                            {{ props.item.name }}
                            <template v-slot:input>
                              <v-text-field v-model="props.item.name" label="Name" single-line counter maxlength="20"></v-text-field>
                            </template>
                          </v-edit-dialog>
                        </td>
                        <td>
                          <v-edit-dialog :return-value="props.item.bitStart">
                            {{ props.item.bitStart }}
                            <template v-slot:input>
                              <v-text-field type="number" v-model.number="props.item.bitStart" min="0" label="Start Bit" single-line autofocus></v-text-field>
                            </template>
                          </v-edit-dialog>
                        </td>
                        <td>
                            <v-edit-dialog :return-value="props.item.bitEnd">
                              {{ props.item.bitEnd }}
                              <template v-slot:input>
                                <v-text-field type="number" v-model.number="props.item.bitEnd" min="0" label="End Bit" single-line autofocus></v-text-field>
                              </template>
                            </v-edit-dialog>
                        </td>
                        <td>
                            <v-edit-dialog :return-value="props.item.access">
                              {{ props.item.access }}
                              <template v-slot:input>
                                  <v-select :items="accessOptions" v-model="props.item.access" Label="Access" autofocus single-line></v-select>
                              </template>
                            </v-edit-dialog>
                        </td>
                        <td>
                          <div>
                            <v-checkbox hide-details v-model="props.item.shaded"></v-checkbox>
                          </div>
                        </td>
                        <td class="justify-center layout px-0">
                            <v-icon @click="deleteItem(props.item)">
                              delete
                            </v-icon>
                        </td>
                      </template>
                    </v-data-table>
                  </v-expansion-panel-content>
                  <v-expansion-panel-content>
                      <template v-slot:header><h3 class="subheading">Settings</h3></template>
                      <v-divider></v-divider>
                      <v-card>
                          <v-card-text>
                            <div class="mt-5">
                          <v-slider v-model="bitfieldOptions.majorTick" label="Major Tick"  min="0" max="32" step="1" thumb-label="always"  color="blue accent-1" thumb-color="blue accent-1"></v-slider>
                          <v-checkbox v-model="bitfieldOptions.msbRight" label="Most Significant Bit Right"></v-checkbox>
                          <v-checkbox v-model="bitfieldOptions.showBitTick" label="Show Single Bit Tick"></v-checkbox>
                          <v-checkbox v-model="bitfieldOptions.showAccess" label="Show Access Levels"></v-checkbox>
                          <v-switch v-model="darkTheme" label="Dark Mode"></v-switch>
                        </div>
                        </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
              </v-expansion-panel>
            </v-flex>
            <v-spacer></v-spacer>
          <v-flex xs12 pt-2>
            <v-card  class="elavation-1 pa-5" light>
                <div id="svg-gen"></div>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-footer class="pa-3">
        <v-spacer></v-spacer>
        <div>Kenneth Ng &copy; {{ new Date().getFullYear() }}</div>
      </v-footer>
    </v-app>
  </div>
</div>
  <script>
    new Vue({ 
      el: '#app', 
      data: {
        accessOptions: ["", "R", "W", "RW"],
        darkTheme: true,
        opened: [true],
        snackbar: false,
        snackbarColor: undefined,
        snackbarText: "",
        snackbarTimeout: 1500,
        dialogClear: false,
        dialogImport: false,
        importErrors: [],
        headers: [
          { text: 'Name',align: 'left', value: 'name' },
          { text: 'Start Bit', value: 'bitStart'},
          { text: 'End Bit', value: 'bitEnd' },
          { text: 'Access', value: 'access' },
          { text: 'Shaded', value: 'shaded' },
          { text: '', value: '' }
        ],
        bitfields: [
          {bitStart:0, bitEnd:0, access:"R", name:"SYSACT", shaded: false},
          {bitStart:1, bitEnd:2, access:"RW", name:"CLK", shaded: false},
          {bitStart:3, bitEnd:7, access:"", name:"Reserved", shaded: true},
          {bitStart:8, bitEnd:15, access:"W", name:"RETPATH", shaded: false},
          {bitStart:16, bitEnd:23, access:"W", name:"COUNT", shaded: false},
          {bitStart:24, bitEnd:24, access:"", name:"Reserved", shaded: true},
          {bitStart:25, bitEnd:28, access:"W", name:"ERROR", shaded: false},
          {bitStart:29, bitEnd:31, access:"W", name:"TESTLONGNAME", shaded: false},
        ],
        bitfieldOptions: {
            majorTick:8,
            showBitTick: true,
            msbRight: false,
            showAccess: true,
            bitWidth : 25,
            bitHeight : 50,
            },
        defaultItem: {
          name: 'Field',
          bitStart: 0,
          bitEnd: 0,
          access: "R",
          shaded: false
        },
        currentSVG: undefined,
        bitfieldsJSON: "",
      },

      methods: {

        showSnackBar(message, color=undefined, timeout=1500) {
          if (this.snackbar) {
            this.snackbar = false;
          }
          this.snackbarTimeout = timeout;
          this.snackbarColor = color;
          this.snackbar = true;
          this.snackbarText = message;
        },

        getNextBit() {
          let currentBit = 0;
          if (this.bitfields.length > 0) {
            currentBit = Math.max(...this.bitfields.map((item) => {return parseInt(item.bitEnd);})) + 1;
          }
          return currentBit;
        },

        newItem() {
          let nextBitVal = this.getNextBit();
          console.log(nextBitVal);
          let newObject = Object.assign({}, this.defaultItem);
          newObject.name += ' ' + nextBitVal;
          newObject.bitStart = nextBitVal;
          newObject.bitEnd = nextBitVal;
          this.bitfields.push(newObject);
        },
        
        clearBitfield(){
          this.bitfields = [];
          document.getElementById("svg-gen").innerHTML = '';
          this.dialogClear = false;
        },

        deleteItem (item) {
          const index = this.bitfields.indexOf(item);
          this.bitfields.splice(index, 1);
        },

        generateSVG() {
          if (this.bitfields.length > 0 ) {
            this.currentSVG = generateSVG(document.getElementById("svg-gen"), this.bitfields, this.bitfieldOptions);
            if (this.currentSVG === undefined) {
              this.showSnackBar("Cannot Generate SVG! Check your bit fields.", "red lighten-2", 3000);
            }
          }
        },

        downloadSVG() {
          if (this.currentSVG !== undefined) {
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(new Blob([this.currentSVG]));
            link.setAttribute('download', 'bitfield.svg');
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          } else {
            this.showSnackBar("Generate an SVG first!", "red lighten-2", 3000);
          }
        },

        importJSON() {
          try {
            const inputJSON = JSON.parse(this.bitfieldsJSON);
            if (validateBitfieldList(inputJSON)) {
              this.bitfields = inputJSON;
            } else {
              // shortcut to get the invalid string
              throw Error();
            }
            this.dialogImport = false;
            this.importErrors = [];
          } catch (error) {
            // just ignore
            this.importErrors = ["Invalid import string"];
          }
        },

        exportJSON() {
          const el = document.createElement('textarea');
          el.value = JSON.stringify(this.bitfields);
          el.setAttribute('readonly', '');
          el.style.position = 'absolute';
          el.style.left = '-9999px';
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
          this.showSnackBar("Table copied to clipboard!");
        },
      } 
    });
  </script>
  <script>
      document.getElementById("delayed-body").style.display = "initial";
  </script>
</body>
</html>